/*The colors*/
/*
#59708d
#59b39d
#9ccd9a
*/

body {
  margin: 0 auto;
  width: 1140px;
}

.float-left {
  float: left;
}

.block {
  display: block;
}

.full-height {
  height: 100vh;
}

.first {
  background: #59708d;
  width: 33.3%
}

.second {
  background: #59b39d;
  width: 33.3%
}

.third {
  background: #9ccd9a;
  width: 33.3%
}
