.header {
  background: #cbccc3;
  height: 120px;
}

.box {
  background: #59708d;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.content {
  background: #fff;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

.hero-text {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  padding: 30px;
}

.height-150 {
  height: 150px;
}

.row1 {
  background: #59708d;
}

.row2 {
  background: #59b39d;
}

.row3 {
  background: #9ccd9a;
}

.row4 {
  background: #e3dd61;
}

.footer {

}
